
<html>
<head><title>food hub</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
       
section nav{
    justify-content: space-around;
    position: fixed;
    z-index:1000;
    right:0;
    left:0;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
    
}

section nav ul li a{
text-decoration: none;
color: black;
font-weight: 40;
font-size: 30px;
}

section nav ul li a:hover{
    color: yellow;
}
section nav div.icon{
    align:right;
    cursor:pointer;
    margin:0 5px;
    font-size:30px;
}
 section nav .icon:hover{
    color:yellow;
}
section nav ul  {
    list-style: none;
    text-align: center;
    font-size:20px;}
    .container11{
display:grid;
grid-template-columns:250px 1fr 200px;
justify-content: center;
align-items: center;
background-color: white;
box-shadow: 0 0 10px black;
grid-template-rows: 150px;
object-fit:contain;

    }

    </style></head></html>
